[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = ">=3.157.0,<4.0.0"
protobuf = "~=4.21"
grpcio = "~=1.66.2"

[dev-packages]
pylint = ">=3.3.0"
mypy = ">=1.1.0"
types-protobuf = "*"
setuptools = ">=61.0"
