[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = ">=3.88.0,<4.0.0"
protobuf = "~=4.21"
grpcio = "~=1.60.1"

[dev-packages]
pylint = ">=2.1"
mypy = ">=0.77"
types-protobuf = "*"
